.title {
  font-family: 'Source Code Pro', monospace;
  line-height: 100%;
  position: absolute;
  text-align: center;
  height: 10%;
  width: 100%;
}
.size-1 {
  font-size: 48pt;
  top: 35%;
  color: #FF5656;
}
.size-2 {
  top: 60%;
  color: #FFBABA;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #20262e;
}